﻿/* types */
html, body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

form > button[type=submit]{
    border:1px solid black;
    margin:0 auto;
    display:block;
}

form > button[type=submit]:hover{
    background-color:#ff6a00;
    color:#fff;
}

div.modal-body{
    max-height:70vh;
    max-width:80vh;
}

a:link, a:visited, a:active, a:hover{
    text-decoration:none;
    text-decoration-line:none;
}

a:hover{
    color:orange;
}

a:active, a:link > div{
    text-decoration:none;
    text-decoration-line:none;
    color:green;
}

header{
    border-bottom:1px solid #000000;
    background-color:#89ff58;
    background:linear-gradient(#89ff58, #42a319);
}

/* classes */
.album_content{
    box-sizing:border-box;
    border:1px solid black;
    float:left;
    width:70%;
    max-height:80vh;
    margin:10px 10px 0 5%;
    padding:1%;
    overflow:auto;
}

.img_container{
    border:1px solid rgba(255, 255, 255, 0.00);
    display:inline-block;
    box-sizing:border-box;
    margin:10px;
    padding:3px 10px;
    text-align:center;
}

.img_container > form > button{
    visibility:hidden;
}

.img_container:hover > form > button{
    visibility:visible;
}

.img_container:hover{
    border:1px solid #000;
    border-radius:5px;
}

.img_container a img{
    width:40px;
    height:40px;
    display:block;
    margin:0 auto;
}

.logobox {
    width:50%;
    margin:0 auto;
    text-align:center;
}

.logobox > * {
    margin:0 10px;
}

.logobox > span{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:2em;
    color:#fff;
}

.logobox > img{
    height:100px;
}

.modal-header{
    text-align:center;
}

.modal-body > img{
    position:relative;
    margin:auto auto;
    /*width:70%;*/
    max-height:inherit;
    max-width:inherit;
    border:1px solid black;
    border-radius:5px;
}

.modal-body{
    box-sizing:border-box;
    margin:3% auto;
    padding:0;
    max-height:70vh;
    /*border:2px solid red;*/
    overflow:hidden;
}

.modal-footer{
    text-align:center;
}

.panel-heading{
    text-align:center;
}

.sidepanel{
    border:2px solid black;
    border-radius:10px;
    float:right;
    margin:10px 20px 0 10px;
    width:15%;
    /*height:50%;*/
}

.sidepanel > h4{
    text-align:center;
}

.sidepanel > button{
    display:block;
    margin:15px auto;
}

.sidepanel > button:hover{
    background-color:#42a319;
    color:#fff;
}

.wrap{
    width:100%;
    height:75%;
}

/* IDs */
#dlg_upload .modal-body > form > *{
    margin:10px 0;
}