﻿@model Image[]
<div class="album_layer">
    @for(int i=0;i<Model.Length;i++)
    {
        <div class="img_container">
            @using (Html.BeginForm("RemoveImage", "Album",
                    new
                    {
                        fId = Model[i].Id,
                        fName = Model[i].Filename,
                        fPath = Model[i].Filepath
                    }, FormMethod.Post))
            {
                <a data-toggle="modal" data-target="#dlg_fullsize_@i">
                    <img src="@Model[i].Filepath" />
                    <h6>@Model[i].Filename</h6>
                </a>
                <div hidden="hidden">@Model[i].Id</div>
                <button type="submit" class="btn btn-xs">Delete</button>
            }

            <div class="modal fade" role="dialog" id="dlg_fullsize_@i">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Preview</h3>
                        </div>
                        <div class="modal-body">
                            <img src="@Model[i].Filepath" />
                        </div>
                        <div class="modal-footer">
                            <h4>@Model[i].Filename</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
