﻿@model PicManager.Models.UploadedFileWrap
@{
    ViewBag.Title = "Images";
}
<script src="~/Scripts/bootstrap.min.js"></script>
<section class="album_content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Gallery</h4>
        </div>
        <div class="panel-body">
            @Html.Action("AlbumContent", "Album")
        </div>
    </div>
</section>
<aside class="sidepanel">
    <h4>Control panel</h4>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#dlg_upload">Upload image</button>
    <div id="dlg_upload" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Uploading</h4>
                </div>
                <div class="modal-body">
                    <p>Select file to upload (Size must be less than 4 MB)</p>
                    @using (Html.BeginForm("Images", "Album", FormMethod.Post, new { enctype = "multipart/form-data"} ))
                    {
                        @Html.ValidationSummary()
                        @Html.TextBoxFor(m => m.FileName, new {@class = "input-sm", @placeholder = "Type filename here...", @id = "txtfield" })
                        <input type="file" name="UploadedFile" class="input-xlarge"/>
                    <input type="submit" class="btn btn-success" value="Save" />
                    }
                </div>
            </div>
        </div>
    </div>
</aside>

